# Data Science Tools and Ecosystem

## Author
Alex Ruvolo

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages of data science
- List commonly used libraries of data science
- Make a table of data science tools
- Show examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Java
2. C++
3. Python
4. JavaScript
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. Seaborn

|Data Science Tools|
-----------
|JupyterLab|
|Anaconda|
|VisualStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 mintutes to hours by dividing by 60
200/60

3.3333333333333335